.tip-list-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);

  /* make space beetween overviwe and tips*/
  margin-top: var(--gap-lg);
}

.tip-list-container {
  width: 100%;
  margin: 0 auto;
}

.tip-list-box {
  border-radius: var(--border-radius-sm);
}

.tip-list-main {
  background: var(--color-primary-light-grey);
  padding: var(--gap-sm) var(--gap-md);
  border-radius: var(--border-radius-sm);

  font-family: var(--font-family-heading);
  font-size: var(--font-size-section-title);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-dark);
}

.tip-list-items {
  margin-top: var(--gap-md);
  padding-left: var(--gap-md);
  display: grid;
  row-gap: var(--gap-sm);
}

.tip-row {
  display: flex;
  align-items: center;
  column-gap: var(--gap-sm);
}

.tip-list-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.tip-list-title {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  color: var(--color-text-dark);
}
